*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    cursor: url(/img/cursor.png), default;
    overflow: hidden;
    font-family: "IBM Plex Serif", serif;
    flex-direction: column;
    background: linear-gradient(135deg, #000428 0%, #004e92 50%, #00c6ff 100%);
}
.cursorHover{
    cursor:url(/img/cursorhover.png), default;
}
.lose{
    font-size: 50px;
    width: 60%;
    text-align: center;
    height: 50%;
    transform: translateY(-500px);
    animation: show 0.6s linear forwards
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lose a{
    text-decoration: none;
    color:rgb(138, 233, 126);
    background-color: rgba(173, 216, 230, 0.514);
    padding: 4px 20px 5px 20px;
    border-radius: 20px;
    transition: 0.5s;
    opacity: 0;
    animation: opacity 0.6s 1s linear forwards;
}
.lose a:hover{
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
}
@keyframes show{
    100%{
    transform: translateY(0px);
    }
}
@keyframes opacity{
    100%{
        opacity: 1;
    }
}
